{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "no-const-assign": "error",
    "no-irregular-whitespace": "warn",
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "no-use-before-define": "warn",
    "camelcase": "warn",
    "eqeqeq": "warn",
    "prefer-const": "warn",
    "no-dupe-keys": "error",
    "array-bracket-spacing": "warn",
    "no-constant-condition": "warn"
  }
}
